{% extends "layout.html" %}
{% block body %}


        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/about-bg.jpg') }}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Us</h1>
                            <span class="subheading">This is what we do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                    	
                        <p>Let us help you improve your site audience figures. Adding weather content to almost any webpage will be a positive move and is great for search engine optimisation. The dynamic and compelling nature of weather information is a powerful visitor attraction. Weather can be used to draw in new visitors and help encourage return traffic. Moreover, weather content will help encourage your visitors to stay on your site for longer, showing more interest in your offerings, and increasing the likelihood of them making that all important purchase.</p>
                        <p>Our website weather services are specifically made to help you easily integrate the content into the design of your pages. We offer weather information for any size of site and have many options so you can have the package that best fits your need. We cover all types of weather data from basic forecasts to specialised Marine and Mountain weather.</p>
                        <img src="https://dbffkv15yp72v.cloudfront.net/locations/003/703/443/static-map.jpg" importance="low" decode="async" loading="lazy" class="Maps-Static-base" alt="Map" align="justify-content-center" style="border-style: solid;">
                    </div>
                </div>
            </div>
        </main>
        
{% endblock %}
