{% extends "layout.html" %}
{% block body %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url(https://source.unsplash.com/1600x900/?panama)">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>GLOBALPANAMA</h1>
                            <span class="subheading">A Blog Theme by Start Bootstrap</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->



                    <div class="post-preview">
                        <a href="/post">
                            <h2 class="post-title", style="font-family: cursive;">Panama,</h2>
                            <h3 class="post-subtitle">the land that joined the Americas. That separated and then connected the oceans. The land that transformed the planet's biodiversity and changed the world forever. Panama is located not only between North and South America or the Caribbean and the Pacific, but also between accelerated cosmopolitan life and traditional cultures; science and history; sun-drenched land and mysterious rainforest; adventure and relaxation and modernity and tradition.</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="https://www.linkedin.com/in/siddhant-kasture-008454218/">Siddhant Kasture</a>
                            on September 24, 2021 
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />

<!-- Start WX Widget Code --><div style="color: #455052; max-width: 290px; width: 100%; border: 1px solid #428bca; background-image: radial-gradient(circle, #fff, #f5faff, #e5efff);"><script src="https://www.weatherwx.com/weather-js-current/pa/panama+city.js"></script></div><!-- End WX Widget Code -->
                    
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Blog Posts →</a></div>
                </div>
            </div>
        </div>
        {% endblock %}
        
